.history-card{
    margin-top:30px;
}

.history-table{
    width:100%;
    border-collapse:collapse;
}

.history-table th{
    background:#f5f7fb;
    padding:12px;
}

.history-table td{
    padding:12px;
    border-bottom:1px solid #ececec;
}