.modal-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}

.modal-box{

background:white;

width:500px;

border-radius:15px;

padding:25px;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.modal-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.modal-header button{

border:none;

background:none;

font-size:20px;

cursor:pointer;

}

.modal-box table{

width:100%;

border-collapse:collapse;

}

.modal-box th{

background:#2563eb;

color:white;

padding:10px;

}

.modal-box td{

padding:10px;

text-align:center;

border-bottom:1px solid #eee;

}